<!doctype html>
<html lang="en">
<head>
    <title>createquiz</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <!--<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        .card {
        margin: 0 auto; 
        float: none; 
        margin-top: 60px; 
}
    </style>
</head>
<body class="bg-dark text-white">
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="index.html">Quizx</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          <nav id="navbar" class="navbar">
            <ul>
                  <li><a class="nav-link scrollto " href="homepage.html">Home</a></li>
              <!--<li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
              <li><a class="nav-link scrollto " href="attendquiz.html">Attend Quiz</a></li>
              <!--<li><a class="nav-link scrollto" href="signup.html">Signup</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              <li><a class="getstarted scrollto" href="signup.html">Get Started</a></li>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </header><!-- End Header -->
    <div class="card text-center text-center bg-dark border-white" style="width: 300px;">
        <form method="post" action="index.html"></form>
        <div class="card-header h5 text-white border-white text-uppercase bg-warning">Create Quiz</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter number of questions need to be created.
            </p>
            <div class="form-floating text-black">
                <input type="text"  class="form-control">
                <label class="form-label" for="floatingInput">Enter Number of Questions</label>
            </div>
            <a href="createquiz2.html" class="btn btn-warning w-100 mt-3">Create Quiz</a>
        </div>
    </form>
    </div>
</body>
</html>